<footer class="foxfooter container">
    <div class="row">
        <div class="col-md-3">
            <h5>Copyright</h5>
            <p>&copy; 2014 - {{ site.name }}
                <br>All rights reserved.</p>
        </div>
        <div class="col-md-3 twittercol">
            <h5>Twitter</h5>
            <p>[Hier Twitter Widget einbinden]</p>
        </div>
        <div class="col-md-3 instacol">
            <h5>Instagram</h5>
            <p>[Hier Instagram Widget einbinden]</p>
        </div>
        <div class="col-md-3">
            <nav class="footnav">
                <h5>Seiten</h5>
                <ul>
                    <li><a href="#">Facebook</a>
                    </li>
                    <li><a href="#">Kooperation</a>
                    </li>
                    <li><a href="#">Impressum</a>
                    </li>
                    <li><a href="#">Disclaimer</a>
                    </li>
                    <li><a href="#">Datenschutzhinweis</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
