---
layout: default
---

<article class="container featurepost">
  <a href="#"><img src="{% if page.image %}{{ page.image }}{% else %}/img/default.jpg{% endif %}" class="featureimg img-responsive" alt="#"></a>
  <div class="featurecontent">
    <h1>{{ page.title }}</h1>
    <h4>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h4>
    {{ content }}
  </div>
</article>


{% if page.tags.size > 0 %}
{% assign i = 0 %}
<section class="blogfeed">
  <div class="container">
    <h3>Related Posts</h3>
    <div class="row">

      {% for post in site.tags[page.tags.first] limit:4 %}
      {% if i != "3" and post.id != page.id %}
      {% include post_preview.html %}
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endif %}
      {% endfor %}

    </div>
  </div>
</section>
{% endif %}
